<!DOCTYPE html>
<html>
<head>
   <%= render 'layouts/lenticular_cms/head' %>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <%= render 'layouts/header' if false %>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 content-area" id="main-column">
        <%= yield %>
      </div>
      <div class="col-sm-4 hidden-xs" id="sidebar-left">

      </div>
    </div>
  </div>
  <%= yield :inline_scripts %>
</body>
</html>
