<!DOCTYPE html>
<html>
<head>
  <title>Lenticular cms</title>
  <%= stylesheet_link_tag    "lenticular_cms/application", media: "all" %>
  <%= javascript_include_tag "lenticular_cms/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
