#lcms-dashboard {
  background-color:#222;
}
#lcms-dashboard-header {
  color:#8c8c8c;
  a {
    color:#8c8c8c;
    &:hover {
      text-decoration:none;
      color:#aaa;
    }
  }
  h1 {
    font-size:18px;
  }
}
#lcms-dashboard-content {
  background-color:#eee;
  padding-bottom:100px;
  table.datatable {
    background-color:white;
    border:1px solid #ddd;
    thead th {
      border-bottom:0;
      color:#333;
      font-weight:500;
      &.active {
        font-weight:600;
        color:#337ab7;
      }
    }
    tr.odd {
      background-color:#f7f7f7;
    }
    div.row-actions {
      visibility:hidden;
      font-size:13px;
      line-height:19px;
      color:#ddd;
      a {
        &:hover {
          text-decoration:none;
        }
      }
    }
    tr {
      &:hover {
        div.row-actions {
          visibility:visible;
        }
      }
    }
  }
}