#lcms-db {
  background-color:#222;
}
#lcms-db-header {
  color:#8c8c8c;
  a {
    color:#8c8c8c;
    &:hover {
      text-decoration:none;
      color:#aaa;
    }
  }
  h1 {
    font-size:18px;
  }
}
#lcms-db-content {
  background-color:#eee;
  padding-bottom:100px;
  table.datatable {
    background-color:white;
    border:1px solid #ddd;
    thead th {
      border-bottom:0;
      color:#333;
      font-weight:500;
      &.active {
        font-weight:600;
        color:#337ab7;
      }
    }
    tr.odd {
      background-color:#f7f7f7;
    }
    div.row-actions {
      visibility:hidden;
      font-size:13px;
      line-height:19px;
      color:#ddd;
      a {
        &:hover {
          text-decoration:none;
        }
      }
    }
    tr {
      &:hover {
        div.row-actions {
          visibility:visible;
        }
      }
    }
  }
}

div.panel-collapser {
  span.glyphicon {
    float:right;
  }
  span.glyphicon-chevron-down {
    display:none;
  }
  &.collapsed {
    span.glyphicon-chevron-up {
      display:none;
    }
    span.glyphicon-chevron-down {
      display:inline-block;
    }
  }
}

#lcms-db-activity {
  ul > li {
    > span {
      display:inline-block;
      padding-right:20px;
    }
  }
}

#lcms-db-messages {
  div.alert {
    margin-top:15px;
    margin-bottom:0;
  }
}

div.form-group.inline-controls {
  select.form-control, input.form-control {
    display:inline-block;
    width:auto;
    &.left-control {
      margin-right:5px;
    }
  }
}

.exploding-link-target {
  display:none;
}

@media only screen and (min-width: 960px) {
  #mceu_33 {
    position:absolute;
    top:0;
    right:0;
    margin:5px 5px 0 0;
    border-left:0;
  }
}
