<div class="panel panel-default lcms-db-panel">
  <div class="panel-heading panel-collapser" role="button" data-toggle="collapse" data-target="#lcms-compose-featured-image" aria-expanded="true" aria-controls="lcms-compose-featured-image">
    <strong>Featured image</strong> <span class="glyphicon glyphicon-chevron-up"></span><span class="glyphicon glyphicon-chevron-down"></span>
  </div>
  <div id="lcms-compose-featured-image" class="collapse in">
    <div class="panel-body">
      <%= f.file_field :image %>
    </div>
  </div>
</div>